.container {
  background-color: lightgreen;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 1rem;

  &:hover {
    color: rgb(105, 164, 87);
  }
}
